
@font-face {
    font-family: 'OPTIEdgarBold';
    src: url('fonts/OPTIEdgarBold-Extended.otf') format("opentype");
}
/*==== SETUP =====*/
body {
    overflow: hidden;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
.hide {
    display: none !important;
}
/*===== MAIN =====*/
#container {
    display: flex;
    flex-direction: column;
}
.row {
    display: flex;
    flex-direction: row;
}
.row-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
}
.data-text {
    font-family: 'OPTIEdgarBold';
    text-align: right;
    margin-right: 9px;
    font-size: 15px;
    margin-top: -2px;
    z-index: 1;
    color: white;
    text-shadow: 0px 0px 3px #ffa51f, 0px 0px 14px #000, 0px 0px 14px #000, 0px 0px 14px #000, 0px 0px 14px #000;
    user-select: none;
}
.hide {
    display: none !important;
}
/*==== BAR =====*/
.bar {
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.progress-bar {
    width: 148px;
    background-color: #40454c;
    height: 8px;
    border: solid 1px black;
    border-radius: 6px;
    filter: drop-shadow(0px 0px 2px #212121);
    position: relative;
    overflow: hidden;
    filter: brightness(1);
}
.progress-bar-flash {
    animation: flash 2s infinite;
}
@keyframes flash {
    0%   {filter: brightness(1)}
    50%  {filter: brightness(2)}
    100% {filter: brightness(1)}
}
.edges-corners {
    border-radius: 0px;
}
.progress-bar > span {
    width: 0%;
    height: 100%;
    position: absolute;
    transition: width 0.2s;
    border-radius: 6px 0px 0px 6px;
}
.edges-corners > span {
    border-radius: 0px 0px 0px 0px;
}
[type='timer'] .progress-bar > span{
    transition: none;
}
.progress-bar-red > span {
    background: linear-gradient(0.25turn, #ff4b4b, #ff9797);
}
.progress-bar-blue > span {
    background: linear-gradient(0.25turn, #4b51ff, #9d97ff);
}
.progress-bar-orange > span {
    background: linear-gradient(0.25turn, #ffa64b, #ffd197);
}
.progress-bar-green > span {
    background: linear-gradient(0.25turn, #baff4b, #c4ff97);
}
.progress-bar-yellow > span {
    background: linear-gradient(0.25turn, #fcff4b, #fffc97);
}
.progress-bar-purple > span {
    background: linear-gradient(0.25turn, #774bff, #d297ff);
}