/*==== ARROW =====*/
.arrow-row {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 5px;
    padding-top: 0px;
    margin-right: 5px;
}
/* ====== COLORS =======*/
.arrow-red .arrow-active {
    fill: url(#gradient-red);
}
.arrow-blue .arrow-active {
    fill: url(#gradient-blue);
}
.arrow-orange .arrow-active {
    fill: url(#gradient-orange);
}
.arrow-green .arrow-active {
    fill: url(#gradient-green);
}
.arrow-yellow .arrow-active {
    fill: url(#gradient-yellow);
}
.arrow-purple .arrow-active {
    fill: url(#gradient-purple);
}
.arrow-active {
    animation-duration: 0.25s;
    animation-name: arrowIn;
}
@keyframes arrowIn {
    0% {
        transform: translate(-5px, 0);
    }
    50% {
        transform: translate(3px, 0);
    }
    100% {
        transform: translate(0, 0);
    }
}