/*==== SETUP =====*/
@font-face {
    font-family: 'OPTIEdgarBold';
    src: url('fonts/OPTIEdgarBold-Extended.otf') format("opentype");
}
/*===== MAIN =====*/
#container {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    overflow: visible;
}
.horizontal-gauges #container {
    flex-direction: row !important;
}
.row {
    display: flex;
    flex-direction: row;
    overflow: visible;
}
.justify-right .row {
    justify-content: flex-end;
}
.reverse-row .row {
    flex-direction: row-reverse;
}
.row-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    overflow: visible;
}
img.small-icon {
    height: 30px;
}
.data-row {
    margin-top: -2px;
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    height: 20px;
}
.data-text {
    font-family: 'OPTIEdgarBold';
    text-align: right;
    margin-right: 9px;
    font-size: 15px;
    z-index: 1;
    color: white;
    text-shadow: 0px 0px 3px #ffa51f, 0px 0px 14px #000, 0px 0px 14px #000, 0px 0px 14px #000, 0px 0px 14px #000;
    user-select: none;
}
.data-text-flash {
    animation: textFlash 1s infinite;
}
@keyframes textFlash {
    0% {
        font-size: 200%;
        margin-top: -10%;
        color: red;
    }
    50% {
    }
    100% {
    }
}
.flex-1 {
    flex: 1;
}
.hideOverride {
    display: none !important;
}