/* LOCK */
#lock {
    position: absolute;
    width: calc(100% - 4px);
    z-index: -1;
    height: calc(100% - 4px);
    display: flex;
    margin: 0;
    padding: 0;
    background-color: #d260607a;
    align-items: center;
    justify-content: center;
    border: solid 2px #c72f02;
    border-style: dashed;
}
#lock-text {
    color: white;
    font-weight: 900;
    font-size: 18px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #1f0101;
}
#lock-handle {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20px;
    height: 20px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAAOwgAADsIBFShKgAAAABh0RVh0U29mdHdhcmUAcGFpbnQubmV0IDQuMC4zjOaXUAAAAGZJREFUOE+ljEEOACEIA92f+f9XaQ822EUgajJJC4xtvu+BPnEXFSBff7Bk5N8yw8pgW2aojLwdRHhy+YOTjMzhiUgGDB6ZjMyiVGTAgeV0rB1wqMusL7iIjrVb0mPtypMMGC7k1geoEhcn0OEM6wAAAABJRU5ErkJggg==);
}
.locked #lock {
    display: none !important;
}
/* UNLOCKED */
#buffs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
/* BUFFS */
.buff {
    margin: 5px;
    display: flex;
    flex-direction: column;
    width: 40px;
    height: 30px;
    overflow: hidden;
    position: relative;
    border-color: white;
    border-width: 1px;
    border-style: solid;
    order: 1;
    align-items: center;
    justify-content: center;
}
.buff img {
    margin-top: -3px;
    width: 100%;
    z-index: 1;
}
.buff-text {
    position: absolute;
    z-index: 3;
    color: white;
    font-weight: 900;
    font-size: 19px;
    font-family: sans-serif;
    -webkit-text-stroke-color: #191919;
    -webkit-text-stroke-width: 1px;
    width: 100%;
    height: 100%;
    text-align: center;
}
.buff-ready .pulse {
    animation: pulse 0.5s;
}
.pulse {
    position: absolute;
    z-index: 1;
    content: '';
}
@keyframes pulse {
    0% {
        width: 0%;
        height: 0%;
        left: 50%;
        bottom: 50%;
        background-color: white;
    }
    50% {
        background-color: white;
    }
    100% {
        height: 100%;
        width: 100%;
        left: 0%;
        bottom: 0%;
        background-color: rgba(255, 255, 255, 0.0);
    }
}
.buff-overlay {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 0%;
    background-color: rgba(0,0,0,0.6);
    bottom: 0px;
}
/* ON CD */
.buff-cd {
    border-color:black !important;
    filter: brightness(0.8);
    order: 2 !important;
}
.buff-cd .buff-img {
    filter: brightness(0.8);
}
/* READY */
.buff-ready .buff-text {
    display: none;
}
/* PERSONAL */
.buff-personal {
    order: 3 !important;
}
/* HIDDEN */
.not-ast .buff-ast-only {
    display: none !important;
}
.locked .buff-hidden {
    display: none !important;
}
.hide {
    display: none !important;
}
.hideOverride {
    display: none !important;
}